@model Project_Year_2.Models.EF.Order

<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Restaurant</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700|Raleway" rel="stylesheet">
    <link rel="stylesheet" href="~/Assets/Client/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Assets/Client/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="~/Assets/Client/css/animate.css">

    <link rel="stylesheet" href="~/Assets/Client/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Assets/Client/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Assets/Client/css/magnific-popup.css">

    <link rel="stylesheet" href="~/Assets/Client/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/Assets/Client/css/jquery.timepicker.css">



    <link rel="stylesheet" href="~/Assets/Client/css/icomoon.css">
    <link rel="stylesheet" href="~/Assets/Client/css/style.css">
</head>
<body data-spy="scroll" data-target="#site-navbar" data-offset="200">

    @RenderBody()

    <footer class="site-footer site-bg-dark site-section">
        <div class="container">          
            <div class="row site-animate">
                <div class="col-md-12 text-center">
                    <p>
                        &copy; <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
        </div>
    </footer>




    <!-- Modal -->
    <div class="modal fade" id="reservationModal" tabindex="-1" role="dialog" aria-labelledby="reservationModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="bg-image" style="background-image: url(/Assets/Client/images/reservation_1.jpg);"></div>
                        </div>
                        <div class="col-lg-12 p-5">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <small>ĐÓNG </small><span aria-hidden="true">&times;</span>
                            </button>
                            <h1 class="mb-4">Đặt Bàn Trước</h1>
                            @using (Ajax.BeginForm("Create", "Reservation", new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "POST", OnSuccess = "Showmessage" }))
                            {

                                @Html.AntiForgeryToken()

                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                <div class="row">
                                    <div class="col-md-6 form-group">
                                        @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label", @id = "m_fname" })
                                        @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control col-md-10", @id = "m_fname" })
                                        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })

                                    </div>
                                    <div class="col-md-6 form-group">
                                        @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label" })
                                        @Html.TextBoxFor(model => model.LastName, new { @class = "form-control col-md-10", @id = "m_lname" })
                                        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 form-group">
                                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
                                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control col-md-10", @id = "m_email", @type = "email" })
                                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 form-group">
                                        @Html.LabelFor(model => model.PeopleCount, htmlAttributes: new { @class = "control-label" })
                                        @Html.DropDownList("PeopleCount",
                                         new List<SelectListItem>
                                        {
                                            new SelectListItem { Text = "1 Người", Value = "1" },
                                            new SelectListItem { Text = "2 Người",  Value = "2" },
                                            new SelectListItem { Text = "3 Người", Value = "3" },
                                            new SelectListItem { Text = "4+ Người", Value = "4+" },

                                        },
                                         new { @class = "form-control", id = "m_people" }
                                         )

                                        @Html.ValidationMessageFor(model => model.PeopleCount, "", new { @class = "text-danger" })

                                    </div>
                                    <div class="col-md-6 form-group">
                                        @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label" })
                                        @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control col-md-10", @type = "number" })
                                        @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 form-group">
                                        @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label" })
                                        @Html.TextBoxFor(model => model.Date, new { @class = "form-control col-md-10", @id = "m_date" })
                                        @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6 form-group">
                                        @Html.LabelFor(model => model.Time, htmlAttributes: new { @class = "control-label" })
                                        @Html.TextBoxFor(model => model.Time, new { @class = "form-control col-md-10", @id = "m_time" })
                                        @Html.ValidationMessageFor(model => model.Time, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 form-group">
                                        @Html.LabelFor(model => model.Message, htmlAttributes: new { @class = "control-label" })
                                        @Html.TextAreaFor(model => model.Message, new { @class = "form-control col-md-10", @id = "m_message", @cols = "30", @rows = "7" })
                                        @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                @Html.HiddenFor(x => x.CreatedDate, new { @Value = @DateTime.Now.ToShortDateString() })
                                @Html.HiddenFor(model => model.Status, new { @Value = "False" })

                                <div class="row">
                                    <div class="col-md-12 form-group">
                                        <input type="submit" class="btn btn-primary btn-lg btn-block" value="Đặt bàn ngay">
                                    </div>
                                </div>

                            }
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="news1Modal" tabindex="-1" role="dialog" aria-labelledby="news1ModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="bg-image" style="background-image: url(/Assets/Client/images/reservation_1.jpg);"></div>
                        </div>
                        <div class="col-lg-12 p-5">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <small>ĐÓNG </small><span aria-hidden="true">&times;</span>
                            </button>
                            <h1 class="mb-4">
                                Chúng tôi luôn có những món ăn mới lạ
                            </h1>
                            <div>Ở đây, ngay chính nhà hàng của chúng tôi sẽ luôn mang đến cho các bạn những món ăn hoàn toàn mới lạ và cực kì độc đáo.</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="news2Modal" tabindex="-1" role="dialog" aria-labelledby="news2ModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="bg-image" style="background-image: url(/Assets/Client/images/reservation_1.jpg);"></div>
                        </div>
                        <div class="col-lg-12 p-5">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <small>ĐÓNG </small><span aria-hidden="true">&times;</span>
                            </button>
                            <h1 class="mb-4">
                                Lựa chọn đặc biệt của đầu bếp
                            </h1>
                            <div>Nơi đây có những món ăn được những đầu bếp hàng đầu lựa chọn.</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="news3Modal" tabindex="-1" role="dialog" aria-labelledby="news3ModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="bg-image" style="background-image: url(/Assets/Client/images/reservation_1.jpg);"></div>
                        </div>
                        <div class="col-lg-12 p-5">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <small>ĐÓNG </small><span aria-hidden="true">&times;</span>
                            </button>
                            <h1 class="mb-4">
                                Thực đơn cho các buổi kỉ niệm
                            </h1>
                            <div>Những buổi kỉ niệm đáng nhớ cần có những thực đơn hoành tráng và có thể được thực hiện ngay tại nhà hàng chúng tôi.</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- END Modal -->
    <!-- loader -->
    <div id="site-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>


    <script src="~/Assets/Client/js/jquery.min.js"></script>
    <script src="~/Assets/Client/js/popper.min.js"></script>
    <script src="~/Assets/Client/js/bootstrap.min.js"></script>
    <script src="~/Assets/Client/js/jquery.easing.1.3.js"></script>
    <script src="~/Assets/Client/js/jquery.waypoints.min.js"></script>
    <script src="~/Assets/Client/js/owl.carousel.min.js"></script>
    <script src="~/Assets/Client/js/jquery.magnific-popup.min.js"></script>

    <script src="~/Assets/Client/js/bootstrap-datepicker.js"></script>
    <script src="~/Assets/Client/js/jquery.timepicker.min.js"></script>

    <script src="~/Assets/Client/js/jquery.animateNumber.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Assets/Client/js/main.js"></script>


</body>
</html>

<script type="text/javascript">

    function Showmessage(isRequestSuccessed) {
        alert("Đặt bàn thành công!");
        if (isRequestSuccessed == false) {
            $("#post-error").html("Nhập lỗi! Mời nhập lại!");
        }
        else {
            window.location.href = "/Home/Index";
        }
    }
</script>

