
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@model Project_Year_2.Models.EF.Bill_Infor

<div class="container">
    <div class="row">
        <div class="col-md-6 m-5 bg-light">
            <div class="panel panel-default">
                <div class="panel-heading font-weight-bolder">
                    <h3>
                        Nhập thông tin Hóa đơn

                    </h3>
                    <hr />
                </div>
                <div class="panel-body">

                    <div class="shadow p-4 mb-4 bg-white">
                        @using (Html.BeginForm("Create", "Bills", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            if (ViewBag.Success != null)
                            {
                                <div class="alert alert-success">@ViewBag.Success</div>
                            }

                            <div class="form-group font-weight-bold">
                                @Html.LabelFor(model => model.BillName, new { @class = "control-label col-md-10" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(model => model.BillName, new { @class = "form-control " })
                                    @Html.ValidationMessageFor(model => model.BillName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            @Html.HiddenFor(model => model.CreatedDate, new { @Value = DateTime.Now.ToShortDateString() })
                            @Html.HiddenFor(model => model.CreatedBy, new { @Value = Session["User"].ToString() })

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-6 ">
                                    <input type="submit" value="Thêm món ăn" class="btn btn-default bg-primary text-white" />
                                </div>
                            </div>
                            <div>
                                @Html.ActionLink("Quay trở lại", "Index")
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

