
@{
    ViewBag.Title = "Show";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<Project_Year_2.Models.EF.Bill>
    <div class="container-fluid">

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Thông tin chi tiết của Hóa đơn</h6>
            </div>
            <div class="card-body">
                @Html.ActionLink("Quay trở lại", "Index", "Bills", new { @class = "btn btn-outline-info btn-sm site-animate" })
                <div class="card-body">

                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Bill_Infor.BillName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Menu.Name)
                                    </th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Bill_Infor.BillName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Menu.Name)
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
</div>
