@{
    ViewBag.Title = "Create Menu";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@model Project_Year_2.Models.EF.Menu

<div class="container">
    <div class="row">
        <div class="col-md-6 m-5 bg-light">
            <div class="panel panel-default">
                <div class="panel-heading font-weight-bolder">
                    <h3>
                        Nhập thông tin Món ăn
                    </h3>
                    <hr />
                </div>
                <div class="panel-body">

                    <div class="shadow p-4 mb-4 bg-white">
                        @using (Html.BeginForm("Create", "Menu", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            if (ViewBag.Success != null)
                            {
                                <div class="alert alert-success">@ViewBag.Success</div>
                            }

                            <div class="form-group font-weight-bold">
                                @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-10" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control ", @required = "required" })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group font-weight-bold">
                                @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-10" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(model => model.Description, new { @class = "form-control", @required = "required" })
                                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group font-weight-bold">
                                @Html.LabelFor(model => model.Type, new { @class = "control-label col-md-10" })
                                <div class="col-md-10">
                                    @Html.DropDownList("Type",
                                         new List<SelectListItem>
                                        {
                                            new SelectListItem { Text = "Bữa sáng", Value = "Breakfast" },
                                            new SelectListItem { Text = "Bữa trưa",  Value = "Lunch" },
                                            new SelectListItem { Text = "Bữa tối", Value = "Dinner" },

                                        },
                                         new { @class = "form-control"}
                                         )
                                    @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group font-weight-bold">
                                @Html.LabelFor(model => model.ImagePath, new { @class = "control-label col-md-10" })
                                <div class="col-md-10">
                                    <input type="file" name="ImageFile" required />
                                </div>
                            </div>

                            <div class="form-group font-weight-bold">
                                @Html.LabelFor(model => model.Price, new { @class = "control-label col-md-10" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(model => model.Price, new { @class = "form-control", @required = "required" })
                                    @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            @Html.HiddenFor(model => model.Status, new { @Value = "True" })

                            <div class="row text-center">
                                <div class="col-md-3 form-group">
                                    <input type="submit" value="Thêm mới" class="btn btn-default bg-primary text-white" />
                                </div>
                                <div class="col-md-2 form-group">
                                    @Html.ActionLink("Hủy", "Index", "Menu", new { @class = "btn btn-secondary" })
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>



