@{
    ViewBag.Title = "Menu Management";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@model  IEnumerable<Project_Year_2.Models.EF.Food>
@section jsFooter{
    <script src="~/Assets/Admin/js/Controller/MenuController.js"></script>
}
<div class="container-fluid">

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Thông tin của Lời nhắn</h6>
        </div>
        <div class="card-body">

            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Tên món ăn</th>
                            <th>Mô tả</th>
                            <th>Đường dẫn ảnh</th>
                            <th>Giá tiền</th>
                            <th>Loại</th>
                            <th>Độ hot</th>
                            <th>Tình trạng</th>
                            <th>Chỉnh sửa</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                <tr id="row_@item.ID_Food">
                                    <td>@item.Name</td>
                                    <td>@item.Description</td>
                                    <td>@item.ImagePath</td>
                                    <td>@item.Price</td>
                                    <td>@item.Type</td>
                                    <td><a href="#" class="btn-active" data-id="@item.ID_Food">@(item.Hot ? "Còn" : "Hết")</a></td>
                                    <td><a href="#" class="btn-active" data-id="@item.ID_Food">@(item.Status ? "Còn" : "Hết")</a></td>

                                    <td>
                                        <a href="Edit/@item.ID_Food">Sửa</a>
                                        |
                                        @Ajax.ActionLink("Xóa", "Delete", new { @id = item.ID_Food }, new AjaxOptions
                                   {
                                       Confirm = "Bạn có muốn xóa món ăn này không?",
                                       OnComplete = "$('#row_" + @item.ID_Food + "').remove()",
                                       HttpMethod = "Delete"
                                   })
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
