
@{
    ViewBag.Title = "Order Management";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<Project_Year_2.Models.EF.FoodTable>
@section jsFooter{
    <script src="~/Assets/Admin/js/Controller/MenuController.js"></script>
}

<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Bảng thông tin</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Thông tin của Đơn đặt bàn</h6>
        </div>
        <div class="card-body">

            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Họ</th>
                            <th>Tên</th>
                            <th>Email</th>
                            <th>Số người</th>
                            <th>Số điện thoại</th>
                            <th>Ngày</th>
                            <th>Giờ</th>
                            <th>Lời nhắn</th>
                            <th>Chỉnh sửa</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                            {
                                foreach (var item in Model)
                                {
                                    <tr id="row_@item.ID_Table">
                                        <td>@item.FirstName</td>
                                        <td>@item.LastName</td>
                                        <td>@item.Email</td>
                                        <td>@item.PeopleCount</td>
                                        <td>@item.PhoneNumber</td>
                                        <td>@item.Date</td>
                                        <td>@item.Time</td>
                                        <td>@item.Message</td>

                                        <td>
                                            <a href="Edit/@item.ID_Table">Sửa</a>
                                            |
                                            @Ajax.ActionLink("Xóa", "Delete", new { @id = item.ID_Table }, new AjaxOptions
                                       {
                                           Confirm = "Bạn có muốn xóa đơn đặt bàn này không?",
                                           OnComplete = "$('#row_" + @item.ID_Table + "').remove()",
                                           HttpMethod = "Delete"
                                       })
                                        </td>
                                    </tr>
                                }
                            }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
