
@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@model Project_Year_2.Models.EF.Message
<div class="container">
    <div class="row">
        <div class="col-md-6 m-5 bg-light">
            <div class="panel panel-default">
                <div class="panel-heading font-weight-bolder">
                    <h3>
                        Xóa Lời nhắn
                    </h3>
                    <hr />
                </div>
                <div class="panel-body">

                    <div class="shadow p-4 mb-4 bg-white">
                        @using (Html.BeginForm("Delete", "Message", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            if (ViewBag.Success != null)
                            {
                                <div class="alert alert-success">@ViewBag.Success</div>
                            }

                            <div class="form-group font-weight-bold">
                                @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-10" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control ", @disabled = "disabled" })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group font-weight-bold">
                                @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-10" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @disabled = "disabled" })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group font-weight-bold">
                                @Html.LabelFor(model => model.Message1, new { @class = "control-label col-md-10" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(model => model.Message1, new { @class = "form-control", @disabled = "disabled" })
                                    @Html.ValidationMessageFor(model => model.Message1, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group font-weight-bold">
                                @Html.LabelFor(model => model.CreatedDate, new { @class = "control-label col-md-10" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(model => model.CreatedDate, new { @class = "form-control", @disabled = "disabled" })
                                    @Html.ValidationMessageFor(model => model.CreatedDate, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="row text-center">
                                <div class="col-md-3 form-group">
                                    <input type="submit" value="Xóa" class="btn btn-default bg-primary text-white" />
                                </div>
                                <div class="col-md-2 form-group">
                                    @Html.ActionLink("Hủy", "Index", "Message", new { @class = "btn btn-secondary" })
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


