
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


@using PagedList;
@using PagedList.Mvc;

@model PagedList.IPagedList<Project_Year_2.Models.EF.Message>

@section jsFooter{
    <script src="~/Assets/Admin/js/Controller/MessageController.js"></script>
}

<div class="container-fluid">


    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Thông tin của Lời nhắn</h6>
        </div>
        <div class="card-body">

            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Họ và Tên</th>
                            <th>Email</th>
                            <th>Lời nhắn</th>
                            <th>Ngày tạo</th>
                            <th>Trạng thái</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                        <tr id="row_@item.ID_Message">
                            <td>@item.Name</td>
                            <td>@item.Email</td>
                            <td>@item.Message1</td>
                            <td>@item.CreatedDate</td>
                            <td><a href="#" class="btn-active" data-id="@item.ID_Message">@(item.Status ? "Chờ" : "Xong")</a></td>
                        </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
