@{
    ViewBag.Title = "Manager";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<Project_Year_2.Models.EF.Account>

@section jsFooter{
    <script src="~/Assets/Admin/js/Controller/UserController.js"></script>
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Thông tin của Quản lí</h6>
    </div>
    <div class="card-body">

        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" cellspacing="0">
                <thead>
                    <tr>
                        <th>Tài khoản</th>
                        <th>Họ và Tên</th>
                        <th>Số điện thoại</th>
                        <th>Địa chỉ</th>
                        <th>CMND</th>
                        <th>Ảnh</th>
                        <th>Ngày sinh</th>
                        <th>Ngày tạo</th>
                        <th>Email</th>
                        <th>Người tạo</th>
                        <th>Trạng thái</th>
                        <th>Chỉnh sửa</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                    <tr id="row_@item.ID">
                        <td>@item.UserName</td>
                        <td>@item.Name</td>
                        <td>@item.PhoneNumber</td>
                        <td>@item.Address</td>
                        <td>@item.IdentityID</td>
                        <td>@item.Avatar</td>
                        <td>@item.BirthDay</td>
                        <td>@item.CreatedDate</td>
                        <td>@item.Email</td>
                        <td>@item.CreatedBy</td>
                        <td><a href="#" class="btn-active" data-id="@item.ID">@(item.Status ? "Kích hoạt" : "Khóa")</a></td>
                        <td>
                            <a href="Edit/@item.ID">Sửa</a>
                            |
                            @Ajax.ActionLink("Xóa", "Delete", new { @id = item.ID }, new AjaxOptions
                       {
                           Confirm = "Bạn có muốn xóa tài khoản này không?",
                           OnComplete = "$('#row_" + @item.ID + "').remove()",
                           HttpMethod = "Delete"
                       })
                        </td>
                    </tr>
                        }
                    }
                  </tbody> 
            </table>
        </div>
    </div>
</div>