
@{
    ViewBag.Title = "Profile";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@model Project_Year_2.Models.EF.Account


<div class="container">
    <div class="row">
        <div class="col-md-6 m-5 bg-light">
            <div class="panel panel-default">
                <div class="panel-heading font-weight-bolder">
                    Profile
                    <hr />
                </div>
                <div class="panel-body">

                    <div class="shadow p-4 mb-4 bg-white">
                        @using (Html.BeginForm("Profile", "User", FormMethod.Get))
                        {
                           
                            <div class="form-group font-weight-bold">
                                
                                <div class="col-md-10">
                                    <span >Tài khoản:</span>
                                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                </div>
                            </div>


                            <div class="form-group font-weight-bold">
                                <div class="col-md-10">
                                    <span>Họ và Tên:</span>
                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" , @disabled = "disabled" } })
                                </div>
                            </div>

                            <div class="form-group font-weight-bold">
                                <div class="col-md-10">

                                    <span>Số điện thoại:</span>
                                    @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                </div>
                            </div>

                            <div class="form-group font-weight-bold">
                                <div class="col-md-10">
                                    <span>CMND:</span>
                                    @Html.EditorFor(model => model.IdentityID, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                </div>
                            </div>

                            <div class="form-group font-weight-bold">
                                <div class="col-md-10">
                                    <span>Địa chỉ:</span>
                                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                </div>
                            </div>

                            <div class="form-group font-weight-bold">
                                <div class="col-md-10">
                                    <span>Vai trò:</span>
                                    @Html.EditorFor(model => model.role, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                </div>
                            </div>

                            <div>
                                @Html.ActionLink("Back to List", "Home")
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


