
@{
    ViewBag.Title = "Authorized";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@model Project_Year_2.Models.EF.Account

<div class="container">
    <div class="row">
        <div class="col-md-6 m-5 bg-light">
            <div class="panel panel-default">
                <div class="panel-heading font-weight-bolder">
                    Phân quyền lại
                    <hr />
                </div>
                <div class="panel-body">

                    <div class="shadow p-4 mb-4 bg-white">
                        @using (Html.BeginForm("Change", "Authorized", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="form-group font-weight-bold">
                                @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-10" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(model => model.UserName,  new { @class = "form-control" , disabled = "disabled" } )
                                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group font-weight-bold">
                                @Html.LabelFor(model => model.Role, htmlAttributes: new { @class = "control-label col-md-10" })
                                <div class="col-md-10">
                                    @Html.DropDownList("Role",
                                         new List<SelectListItem>
                                        {
                                            new SelectListItem { Text = "Quản lí",  Value = "Manager" },
                                            new SelectListItem { Text = "Nhân viên", Value = "Staff" },

                                        },
                                         new { @class = "form-control" }
                                         )
                                    @Html.ValidationMessageFor(model => model.Role, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-6 ">
                                    <input type="submit" value="Cập nhập" class="btn btn-default bg-primary text-white" />
                                </div>
                            </div>
                            <div>
                                @Html.ActionLink("Back to List", "Index")
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>



