@model Project_Year_2.Models.EF.Account

@{
    ViewBag.Title = "Update Manager";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-6 m-5 bg-light">
            <div class="panel panel-default">
                <div class="panel-heading font-weight-bolder">
                    <h3>
                        Cập nhập thông tin Quản lí

                    </h3>
                    <hr />
                </div>
                <div class="panel-body">

                    <div class="shadow p-4 mb-4 bg-white">
                        @using (Html.BeginForm("Edit", "Manager", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="form-group font-weight-bold">
                                @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-10" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                </div>
                            </div>

                            <div class="form-group font-weight-bold">
                                @Html.LabelFor(model => model.User_Infor.Name, htmlAttributes: new { @class = "control-label col-md-10" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.User_Infor.Name, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.User_Infor.Name, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group font-weight-bold">
                                @Html.LabelFor(model => model.User_Infor.Avatar, new { @class = "control-label col-md-10" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(model => model.User_Infor.AvatarFile, null, new { type = "file", @class = "input-file" })
                                </div>
                            </div>

                            <div class="form-group font-weight-bold">
                                @Html.LabelFor(model => model.User_Infor.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-10" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.User_Infor.PhoneNumber, new { htmlAttributes = new { @class = "form-control", @type = "number" } })
                                    @Html.ValidationMessageFor(model => model.User_Infor.PhoneNumber, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group font-weight-bold">
                                @Html.LabelFor(model => model.User_Infor.IdentityID, htmlAttributes: new { @class = "control-label col-md-10" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.User_Infor.IdentityID, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.User_Infor.IdentityID, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group font-weight-bold">
                                @Html.LabelFor(model => model.User_Infor.Address, htmlAttributes: new { @class = "control-label col-md-10" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.User_Infor.Address, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.User_Infor.Address, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group font-weight-bold">
                                @Html.LabelFor(model => model.User_Infor.BirthDay, htmlAttributes: new { @class = "control-label col-md-10" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.User_Infor.BirthDay, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                                    @Html.ValidationMessageFor(model => model.User_Infor.BirthDay, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group font-weight-bold">
                                @Html.LabelFor(model => model.User_Infor.Email, htmlAttributes: new { @class = "control-label col-md-10" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.User_Infor.Email, new { htmlAttributes = new { @class = "form-control", @type = "email" } })
                                    @Html.ValidationMessageFor(model => model.User_Infor.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="row text-center">
                                <div class="col-md-3 form-group">
                                    <input type="submit" value="Cập nhập" class="btn btn-default bg-primary text-white" />
                                </div>
                                <div class="col-md-2 form-group">
                                    @Html.ActionLink("Hủy", "Home", "Manager", new { @class = "btn btn-primary" })
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>



