@{
    ViewBag.Title = "Manager";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    
}
@model IEnumerable<Project_Year_2.Models.EF.Manager>

@section jsFooter{
    <script src="~/Assets/Admin/js/Controller/UserController.js"></script>
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Thông tin của Quản lí</h6>
    </div>
    <div class="card-body">

        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" cellspacing="0">
                <thead>
                    <tr>
                        <th>Tài khoản</th>
                        <th>Họ và Tên</th>
                        <th>Ảnh</th>
                        <th>Ngày tạo</th>
                        <th>Người tạo</th>
                        <th>Trạng thái</th>
                        <th>Chỉnh sửa</th>
                    </tr>
                </thead>
                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        <tr id="row_@item.ID">
                            <td>@item.UserName</td>
                            <td>@item.Name</td>
                            <td>@item.Avatar</td>
                            <td>@item.CreatedDate</td>
                            <td>@item.CreatedBy</td>
                            <td><a href="#" class="btn-active" data-id="@item.ID">@(item.Status ? "Kích hoạt" : "Khóa")</a></td>
                            <td>
                                <a href="Edit/@item.ID">Sửa</a>
                                |
                                <a href="Delete/@item.ID">Xóa</a>

                            </td>
                        </tr>
                    }
                }
            </table>
        </div>
    </div>
</div>

