@model Project_Year_2.Models.EF.Account

@{
    ViewBag.Title = "Register Staff";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="row">
        <div class="col-md-6 m-5 bg-light">
            <div class="panel panel-default">
                <div class="panel-heading font-weight-bolder">
                    <h3>
                        Tạo tài khoản Nhân viên

                    </h3>
                    <hr />
                </div>
                <div class="panel-body">

                    <div class="shadow p-4 mb-4 bg-white">
                        @using (Html.BeginForm("Create", "Staff", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            if (ViewBag.Success != null)
                            {
                                <div class="alert alert-success">@ViewBag.Success</div>
                            }

                            <div class="form-group font-weight-bold">
                                @Html.LabelFor(model => model.UserName, new { @class = "control-label col-md-10" })
                                <div class="col-md-10">

                                    @Html.TextBoxFor(model => model.UserName, new { @class = "form-control " })
                                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group font-weight-bold">
                                @Html.LabelFor(model => model.Password, new { @class = "control-label col-md-10" })
                                <div class="col-md-10">
                                    @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group font-weight-bold">
                                @Html.LabelFor(model => model.ConfirmPassword, new { @class = "control-label col-md-10" })
                                <div class="col-md-10">
                                    @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            @Html.HiddenFor(model => model.Role, new { @Value = "Staff" })
                            @Html.HiddenFor(model => model.Status, new { @Value = "True" })
                            @Html.HiddenFor(model => model.CreatedDate, new { @Value = DateTime.Now.ToShortDateString() })
                            @Html.HiddenFor(model => model.CreatedBy, new { @Value = Session["User"].ToString() })

                            <div class="row text-center">
                                <div class="col-md-3 form-group">
                                    <input type="submit" value="Đăng kí" class="btn btn-default bg-primary text-white" />
                                </div>
                                <div class="col-md-2 form-group">
                                    @Html.ActionLink("Hủy", "Index", "Staff", new { @class = "btn btn-secondary" })
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>



