@{
    ViewBag.Title = "Staff Management";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<Project_Year_2.Models.EF.Account>

@section jsFooter{
    <script src="~/Assets/Admin/js/Controller/StaffController.js"></script>
}

<div class="container-fluid">

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Thông tin của Nhân viên</h6>
        </div>
        <div class="card-body">

            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Tài khoản</th>
                            <th>Họ và Tên</th>
                            <th>Số điện thoại</th>
                            <th>Địa chỉ</th>
                            <th>CMND</th>
                            <th>Ngày sinh</th>
                            <th>Email</th>
                            <th>Ngày tạo</th>
                            <th>Người tạo</th>
                            <th>Trạng thái</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                <tr id="row_@item.ID">
                                    <td>@item.UserName</td>
                                    <td>
                                        @if (@item.User_Infor != null)
                                        {
                                            @item.User_Infor.Name
                                        }
                                        else
                                        {
                                            <div>Trống</div>
                                        }
                                    </td>
                                    <td>
                                        @if (@item.User_Infor != null)
                                        {
                                            @item.User_Infor.PhoneNumber
                                        }
                                        else
                                        {
                                            <div>Trống</div>
                                        }
                                    </td>
                                    <td>
                                        @if (@item.User_Infor != null)
                                        {
                                            @item.User_Infor.Address
                                        }
                                        else
                                        {
                                            <div>Trống</div>
                                        }
                                    </td>
                                    <td>
                                        @if (@item.User_Infor != null)
                                        {
                                            @item.User_Infor.IdentityID
                                        }
                                        else
                                        {
                                            <div>Trống</div>
                                        }
                                    </td>
                                    <td>
                                        @if (@item.User_Infor != null)
                                        {
                                            @item.User_Infor.BirthDay
                                        }
                                        else
                                        {
                                            <div>Trống</div>
                                        }
                                    </td>
                                    <td>
                                        @if (@item.User_Infor != null)
                                        {
                                            @item.User_Infor.Email
                                        }
                                        else
                                        {
                                            <div>Trống</div>
                                        }
                                    </td>
                                    <td>@item.CreatedDate</td>
                                    <td>@item.CreatedBy</td>
                                    <td><a href="#" class="btn-active" data-id="@item.ID">@(item.Status ? "Kích hoạt" : "Khóa")</a></td>

                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

