@{
    ViewBag.Title = "Staff";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<Project_Year_2.Models.EF.Account>

@section jsFooter{
    <script src="~/Assets/Admin/js/Controller/StaffController.js"></script>
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Thông tin của Nhân viên</h6>
    </div>
    <div class="card-body">

        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" cellspacing="0">
                <thead>
                    <tr>
                        <th>Tài khoản</th>
                        <th>Họ và Tên</th>
                        <th>Ảnh</th>
                        <th>Ngày tạo</th>
                        <th>Người tạo</th>
                        <th>Trạng thái</th>
                        <th>Chỉnh sửa</th>
                    </tr>
                </thead>
                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        <tr id="row_@item.ID">
                            <td>@item.UserName</td>
                            <td>
                                @if (@item.User_Infor != null)
                                {
                                    @item.User_Infor.Name
                                }
                                else
                                {
                                    <div>Trống</div>
                                }
                            </td>
                            <td>
                                @if (@item.User_Infor != null)
                                {
                                    if (item.User_Infor.Avatar != null)
                                    {
                                        <img class="img-profile rounded" src="@Url.Content(item.User_Infor.Avatar)" width="50" height="50">
                                    }
                                    else
                                    {
                                        <div>Trống</div>
                                    }
                                }
                                else
                                {
                                    <div>Trống</div>
                                }
                            </td>
                            <td>@item.CreatedDate</td>
                            <td>@item.CreatedBy</td>
                            <td><a href="#" class="btn-active" data-id="@item.ID">@(item.Status ? "Kích hoạt" : "Khóa")</a></td>
                            <td>
                                <a href="#" target="_blank" class="btn btn-outline-info btn-sm" data-toggle="modal" data-target="#Model_@item.ID">Cài đặt</a>
                            </td>
                        </tr>
                    }
                }
            </table>
        </div>
    </div>
</div>

@if (Model != null)
{
    foreach (var item in Model)
    {
        <div class="modal fade" id="Model_@item.ID" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-12 p-5">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <small>ĐÓNG </small><span aria-hidden="true">&times;</span>
                                </button>
                                <br>
                                <div class="mb-4">
                                    <div class="form-group font-weight-bold">
                                        <hr />
                                        <h4>Cài đặt tài khoản @item.UserName</h4>

                                        <br>
                                        <br>
                                        <div>
                                            @if (@item.User_Infor == null)
                                            {
                                                @Html.ActionLink("Thêm thông tin", "AddInfor", "Staff", new { id = @item.ID }, null)
                                            }
                                            @if (@item.User_Infor != null)
                                            {
                                                @Html.ActionLink("Sửa thông tin", "Edit", "Staff", new { id = @item.ID }, null)
                                            }
                                        </div>
                                        <div>
                                            @Html.ActionLink("Xóa", "Delete", "Staff", new { id = @item.ID }, null)
                                        </div>

                                        <div>@Html.ActionLink("Reset mật khẩu", "ResetPass", "Staff", new { id = @item.ID }, null)</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}


